<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header" style="padding-left: 0%;">
            <!-- <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a> -->
            <a href="#" class="navbar-brand" style="font-size: 30px" [routerLink]="['/patients']">
                <img src="../../../assets/icons/logo_2.PNG">              
                            
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <!-- <ul class="nav navbar-nav">
                <li><a href="listview.html">Clinics<span class="sr-only">(current)</span></a></li>
                <li><a href="listview-users.html">Providers</a></li>
                <li class="active"><a href="patients.html">Patients</a></li>
                <li><a href="careplan.html">Care plans</a></li>
                <li><a href="referrals.html">Referrals</a></li>
                <li><a href="appoinments.html">Appoinments</a></li>
                <li><a href="calender.html">Calender</a></li>
                <li><a href="questionarie.html">Survey</a></li>
            </ul> -->
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">3</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header text-center">3 notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        5 new members joined today
                                        <p class="m-0 sm_txt"> <small>Dummy text of the printing and typesetting industry.</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        New theraphy added
                                        <p class="m-0 sm_txt"> <small>Dummy text of the printing and typesetting industry.</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        You changed your name
                                        <p class="m-0 sm_txt"> <small>Dummy text of the printing and typesetting industry.</small></p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="footer"><a href="#"><small class="text-primary" style="font-size: 14px;">See all notifications</small></a></li>
                    </ul>
                </li>
                <li>
                    <a title="Clinical Notes" href="#" data-toggle="control-sidebar"><i class="fa fa-2x fa-server"></i></a>
                </li>

                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Wall, Brick</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="">
                            <div class="pull-right" style="width: 100%">
                                <a style="width: inherit" class="btn btn-default btn-flat">Profile</a>
                            </div>
                        </li>
                        <li class="">
                            <div class="pull-right" style="width: 100%">
                                <a style="width: inherit" class="btn btn-default btn-flat">Change Password</a>
                            </div>
                        </li>
                        <li class="">
                            <div class="pull-right" style="width: 100%">
                                <a style="width: inherit" href="" class="btn btn-default btn-flat">Help</a>
                            </div>
                        </li>
                        <li class="">
                            <div class="pull-right" style="width: 100%">
                                <a style="width: inherit" href="" class="btn btn-default btn-flat">Log out</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>



   
  </header>
  