.login-box-body
{
    padding: 50px;
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    flex-direction: column;
    position: relative;
    display: flex;
    padding: 50px;

}
